<link rel="stylesheet" href="/css/home.css">
<section id="search-section">
    <form action="/search-results" method="GET">
        <input type="text" name="value" placeholder="type your search here">
        <button type="submit">search</button>
    </form>
</section>

<section id="latest-realease-section">
    <h2>Latest Release</h2>
    <div id="latest-releases">
    </div>
</section>

<hr>

<section id="categories-section">
    <h2>Categories</h2>
    <div id="categories">
    </div>
</section>
<script src="/js/home.js"></script>